h1 {
  font-size: 1em;
}

.sub-heading {
  font-size: 1em;
}

p, ul, li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
  font-size: 2em;
  color: #70B7FD;
  color: cornflowerblue;
  color: #FD6C6C;
  color: #64CEAA;
}
a:hover,
a:active {
  text-decoration: underline;
}
.disabled {
  pointer-events: none;
  cursor: default;
  opacity: 0.5;
}

.App {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
  color: #555;
}

.App-header {
  background: #eee;
  height: 150px;
  padding: 20px;
  /* color: #555; */
}

.App-header p {
  padding: 0;
}

.App-intro {
  font-size: large;
}

.tuki {
  font-style: italic;
}

.search {
  padding: 20px;
  position: relative;
}

.search input {
  position: relative;
  /* FIXME align input without  using position */
  right: 20px;
  width: 100%;
  font-size: 1em;
  padding: 12px 20px;
}

.links {
  display: flex;
  justify-content: space-between;
  padding: 0;
  list-style-type: none;
}

.ReactVirtualized__Grid,
.ReactVirtualized__Grid:focus {
  outline: none;
}
